@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body div {
    font-family: 'Hanna', cursive;
}
body span {
    color: gray;
}
.cb1-SPI span{
    color: black;
}
.cb1-SPI div span{
    color: gray;
}

.main{
    margin-left : 7.5px;
    width : 1920px;
    display : flex;
}
.selectbox{
    border : 1px groove;
    width : 180px; 
    position : relative; left : 10px; top : 10px;
}
.radiobox{
    padding-left : 15px;
    height : 300px; 
}
.rangebox{
    text-align : center;
    height : 230px
}
.category-color-box{
    
    height : 200px;
    border : 1px groove;
    margin-top : 20px;
    margin-left : 10px;
    margin-right : 10px;
}

.mapbox{
    width : 440px;
    position : relative;left: 20px;top: 10px
}
.kakaomap{
    height:550px; 
}
.imagebox{
    border : 1px groove;
    margin-top : 10px;
    display : flex;
}
.imagedetail{
    width : 50%;
    height : 320px;
    text-align : center;
}
.imageborder{
    margin : 1px 5px 1px 5px;
    border : 1px groove;
    height : 252px;
}
.imagebox img{
    width : 100%;
    height : 250px;
}
.imagebox button{
    margin-top : 3px;
}

/** class chartbox - html, chart, grid */
.chartbox{
    position : relative;left : 30px;top: 10px;
    width : 1250px;
    height : 880px;
}

/** class cb1 - html 1, 2, 3, 4 */
.cb1{
    height : 180px;
    display : flex;
}
.cb1 > *{
    border : 1px groove;
    height: 100%;
    width : 25%;
    margin-right : 10px;
    text-align : center;
    padding: 20px 10px 20px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.cb1-distance {
    font-size: 2.5em;
}
.cb1-deformation {
    font-size: 2.0em;
}
.cb1-crack {
    font-size: 2.0em;
}
.cb1-SPI{
    font-size: 1.5em;
}

/** class cb2 - chart 1, 2, 3*/
.cb2{
    margin-top : 5px;
    display : flex;
    height : 220px

}
.cb2 > *{
    border : 1px groove;
    width : 18%;
    margin-right : 10px;
    text-align : center;
    padding-top : 70px;
}
.cb3{
    margin-right : 10px;
    margin-top : 5px;
    border : 1px groove;
    height : 54%;
    overflow : auto;
    white-space: nowrap;
}
#cb3-table-head{
    height : 60px;
    position: sticky;
    top: 0px;
    background-color: darkgrey;
}
#cb3-table-body{
    height : 500px;
}
th{

    padding-right : 15px;
}
tr{
    width : 1000px;
}